@using EduKeeper.Models;
@model UserModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<script>
        $(document).ready(function() {
            $("#buttonSubmit").click(function () {
                $("#registrationForm").submit();
            });
        });
    </script>*@
@using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { id = "registrationForm" }))
{
    <div class="table-wrapper">
        <table id="userDataFields" align="center">
            <thead>
                <tr>
                    <th colspan="2">
                        <h1>Registration</h1>
                    </th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td>
                    <div class="validation">@Html.ValidationMessageFor(u => u.FirstName)</div>
                </td>
            </tr>
            <tr>
                <td class="info">First name:</td>
                <td>
                    <div class="model-values">@Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="validation">@Html.ValidationMessageFor(u => u.LastName)</div>
                </td>
            </tr>
            <tr>
                <td class="info">Last name:</td>
                <td>
                    <div class="model-values">@Html.TextBoxFor(u => u.LastName, new { @class = "form-control" })</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="validation">@Html.ValidationMessageFor(u => u.Email)</div>
                </td>
            </tr>
            <tr>
                <td class="info">Email:</td>
                <td>
                    <div class="model-values">@Html.TextBoxFor(u => u.Email, new { @class = "form-control" })</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <div class="validation">@Html.ValidationMessageFor(u => u.Password)</div>
                </td>
            </tr>
            <tr>
                <td class="info">Password:</td>
                <td>
                    <div class="model-values">@Html.PasswordFor(u => u.Password, new { @class = "form-control" }) </div>
                </td>
            </tr>
            @*<tr>
                <td></td>
                <td colspan="2">
                    <div class="validation">@Html.ValidationMessageFor(u => u.Age)</div>
                </td>
            </tr>
            <tr>
                <td class="info">Age:</td>
                <td>
                    <div class="model-values">@Html.TextBoxFor(u => u.Age, new { @class = "form-control" }) </div>
                </td>
            </tr>*@
            <tfoot>
                <tr>
                    <td colspan="2" align="center">
                        <div><input class="btn btn-lg btn-primary btn-block" id="buttonSubmit" type="submit" value="Register" /></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}