@using PagedList;
@using PagedList.Mvc;
@using EduKeeper.Infrastructure.DTO
@model IPagedList<CourseDTO>

<div id="courses">
    <table id="coursesTable">
        @foreach (CourseDTO t in Model)
        {
            <tr>
                <td class="title">
                    <div class="navbar-link">
                        <a href="@Url.Action("Course", "Study", new { courseId = t.Id })">@t.Title</a>
                    </div>
                </td>
                <td class="description">@t.Description</td>
                <td class="action">
                    <div>
                        @if (t.IsUserJoined)
                        {
                            @Html.ActionLink("Leave", "LeaveCourse", new { courseId = t.Id }, new { @class = "btn btn-lg btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Join", "JoinCourse", new { courseId = t.Id }, new { @class = "btn btn-lg btn-success" })
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3"><hr class="separator" /></td>
            </tr>
        }
    </table>
    <div class="pagedList" data-target="#courses">
        @Html.PagedListPager(Model, pageNumber => Url.Action("Courses", new { pageNumber }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>