@using PagedList;
@using PagedList.Mvc;
@using EduKeeper.Web.Models;
@using EduKeeper.Infrastructure.DTO
@model IPagedList<CourseDTO>

<div id="courses">
    <table id="coursesTable">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="title">
                    <div class="navbar-link">
                        <a href="@Url.Action("Course", "Study", new { courseId = Model[i].Id })">@Model[i].Title</a>
                    </div>
                </td>
                <td class="description">@Model[i].Description</td>
                <td class="action">
                    <div>
                        @if (Model[i].IsJoined)
                        {
                            @Html.ActionLink("Leave", "LeaveCourse", new { courseId = Model[i].Id }, new { @class = "btn btn-lg btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Join", "JoinCourse", new { courseId = Model[i].Id }, new { @class = "btn btn-lg btn-success" })
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3"><hr class="separator" /></td>
            </tr>

        }
    </table>
    <div class="pagedList" data-target="#courses">
        @Html.PagedListPager(Model, pageNumber => Url.Action("Courses", new { pageNumber }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>