@model CourseModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/postServices.js")"></script>
}
<script id="postsTemplate" type="text/x-jquery-tmpl">
    <li class="list-group-item">
        <div class="avatar">
            <div>
                <img src="/UsersContent/${AuthorId}.jpg"
                     alt="${AuthorName}"
                     class="img-responsive photo" />
            </div>
        </div>
        <div class="post-content">
            <div class="author">
                ${AuthorName} <em>at ${getDate(DateWritten)}</em>
            </div>
            <div class="post">
                ${Message}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="comment-section">
            {{if IsHasMore}}
            <input type="button" id="${createInputId('loadMore', Id)}" class="load-more btn btn-default" value="load previous comments" onclick="getComments(${Id})" />
            <div id="${createInputId('loading', Id)}" style="display:none">
                <img src="/UsersContent/loading.gif" alt="loading..." />
            </div>
            {{/if IsHasMore}}
            <ul class="list-group comments" id=${Id}>
                {{if Comments != null}}
                    {{each Comments}}
                    <li class="list-group-item">
                        <div class="">
                            <div class="avatar">
                                <div>
                                    <img src="/UsersContent/${$value.AuthorId}.jpg"
                                         alt="${$value.AuthorName}"
                                         class="img-responsive photo" />
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            <div class="comment-author">
                                ${$value.AuthorName} <em>at ${getDate($value.DateWritten)}</em>
                            </div>
                            <div class="post">
                                ${$value.Message}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    {{/each}}
                {{/if}}
            </ul>
            <div class="comment">
                <div class="comment-text">
                    <textarea id="${createInputId('text', Id)}" class="form-control" />
                </div>
                <div class="comment-buttons">
                    <input type="button" name="postComment" value="Comment" onclick="postComment(${Id})" class="btn btn-default" />
                    <input type="file" name="uploadFile" value="File upload" class="btn btn-default" onchange="uploadFile(${Id}, this.files)" />
                </div>
            </div>
        </div>
        <div class="clearfix" />
        <div class="files-section">
            <ul class="list-group">
                {{if Files != null}}
                    {{each Files}}
                        <li class="list-group-item">
                            {{if isImage($value.Extention)}}
                                Image
                            {{/if}}

                            {{else}}
                                {{if isGoogleDocument($value.Extention)}}
                                    GoogleDocumentLink
                                {{/if}}
                                FileLink
                            {{/else}}
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </li>
</script>

<script id="commentTemplate" type="text/x-jquery-tmpl">
    <li class="list-group-item">
        <div class="">
            <div class="avatar">
                <div>
                    <img src="/UsersContent/${AuthorId}.jpg"
                         alt="${AuthorName}"
                         class="img-responsive photo" />
                </div>
            </div>
        </div>
        <div class="comment-content">
            <div class="comment-author">
                ${AuthorName} <em>${getDate(DateWritten)}</em>
            </div>
            <div class="post">
                ${Message}
            </div>
        </div>
    </li>
</script>

<div class="head-section">
    <div class="title">
        <h1>@Model.Title</h1>
    </div>

    <div class="join-button">
        @if (Model.IsUserJoined)
        {
            @Html.ActionLink("Leave", "LeaveCourse", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-danger" })
        }
        else
        {
            @Html.ActionLink("Join", "JoinCourse", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-success" })
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="post-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="title">Posts</span>
        </div>
        <div class="new-post">
            <textarea class="form-control" id="postMessage"></textarea>
            <input type="hidden" name="courseId" id="courseId" value="@Model.Id" />
            
            <div class="post-buttons">
                <input type="button" name="name" value="Post" class="btn btn-lg btn-primary" id="btn-post" onclick="postMessage()" />
                <input type="file" name="uploadFile" value="File upload" class="btn btn-default" multiple id=@("files" + @Model.Id.ToString()) />
            </div>
        </div>
        <ul class="list-group" id="posts"></ul>
    </div>
    <div id="load" style="display:none">
        <img src="/UsersContent/loading.gif" alt="loading..." />
    </div>
</div>

<div class="option-section">

</div>
