@model CourseModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/postServices.js")"></script>
}

<div class="head-section">
    <div class="title">
        <h1>@Model.Title</h1>
    </div>

    <div class="join-button">
        @if (Model.IsUserJoined)
        {
            @Html.ActionLink("Leave", "LeaveCourse", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-danger" })
        }
        else
        {
            @Html.ActionLink("Join", "JoinCourse", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-success" })
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="post-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="title">Posts</span>
        </div>
        <div class="new-post">
            <textarea class="form-control" id="postMessage"></textarea>
            <input type="hidden" name="courseId" id="courseId" value="@Model.Id" />
            
            <div class="post-buttons">
                <input type="button" name="name" value="Post" class="btn btn-lg btn-primary" id="btn-post" onclick="postMessage()" />
                <input type="file" name="uploadFile" value="File upload" class="btn btn-default" multiple id=@("files" + @Model.Id.ToString()) />
            </div>
        </div>
        <ul class="list-group" id="posts"></ul>
    </div>
    <div id="load" style="display:none">
        <img src="/UsersContent/loading.gif" alt="loading..." />
    </div>
</div>

<div class="option-section">

</div>
